extends base.pug

block scripts 
    script(src="../style/index.js") 

block style 
    style
      include ../static/style.css 
      include ../static/styleContact.css 

block body
    h1 About us