extends base.pug

block scripts 
    script(src="../style/index.js") 

block style 
    style
      include ../static/style.css

block body
    
    section#introSection 
        div.top Welcom to the Shivi's Dance Academy 
        div.small EAT SLEEP DANCE REPETE


    section#OurMission
        h1 Our Mission
        div.cardContainer
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/img/card1.png")
                    div.card-content
                        p The perfection you need we will deliver 

            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="/static/img/card2.png")
                    div.card-content
                        p The way you dance will be appriciated
            div.card
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="/static/img/card3.png")
                    div.card-content
                        p Learn from the best expert teachers to be perfect

        
    section#Sponcers
        h2 Our Sponcers
        div#sponcersimg 
          img(src= "/static/img/img1.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img2.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img3.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/img4.png", alt= "Sponsor Image", class= "spImage")

